absl-py==1.4.0
altair==4.2.0
astunparse==1.6.3
attrs==22.2.0
bleach==6.0.0
blinker==1.5
box2d-py==2.3.5
build==0.10.0
cachetools==5.2.1
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
Cython==0.29.35
decorator==5.1.1
docutils==0.20.1
entrypoints==0.4
Farama-Notifications==0.0.4
flatbuffers==23.3.3
fonttools==4.38.0
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.30
google-auth==2.17.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.53.0
gymnasium==0.28.1
h5py==3.8.0
idna==3.4
imageio==2.27.0
importlib-metadata==6.0.0
jaraco.classes==3.2.3
jax==0.4.8
jax-jumpy==1.0.0
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
keras==2.12.0
keyring==23.13.1
kiwisolver==1.4.4
lazy_loader==0.2
libclang==16.0.0
llvmlite==0.39.1
Markdown==3.4.3
markdown-it-py==2.1.0
MarkupSafe==2.1.2
matplotlib==3.6.3
mdurl==0.1.2
ml-dtypes==0.0.4
more-itertools==9.1.0
networkx==3.1
numba==0.56.4
numpy==1.23.5
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pkginfo==1.9.6
protobuf==3.20.3
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydeck==0.8.0
pygame==2.1.3
Pygments==2.14.0
Pympler==1.0.1
pyparsing==3.0.9
pyproject_hooks==1.0.0
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
pywin32==306
pywin32-ctypes==0.2.0
readme-renderer==37.3
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.2.0
-e git+https://github.com/EDISS-intake2-team4/rots-py.git@84f6f396681c1ca5830b42fc3ace9273251c2a7f#egg=rots_py
rsa==4.9
scikit-image==0.20.0
scikit-learn==1.2.0
scipy==1.9.1
seaborn==0.12.2
semver==2.13.0
six==1.16.0
smmap==5.0.0
streamlit==1.17.0
swig==4.1.1
tensorboard==2.12.1
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
threadpoolctl==3.1.0
tifffile==2023.4.12
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
twine==4.0.2
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.14
validators==0.20.0
watchdog==2.2.1
webencodings==0.5.1
Werkzeug==2.2.3
wincertstore==0.2
wrapt==1.14.1
zipp==3.11.0
